#generationCount {
    color: #251ea9;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

html, body {
    overflow: hidden;
    background: #262626;
}